<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc" 
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd"
  default-autowire="byName">

	<!-- Jackson Mapping -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>


	<!-- 处理请求时返回json字符串的中文乱码问题 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:annotation-driven />

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.igreen.boss.controller" />

		<!--默认的spring mvc 拦截所有请求，为了引用资源的访问不会类似CONTROLLER一样被拦截 -->
<!-- 	<mvc:resources location="/static/" mapping="/static/**" cache-period="604800" /> -->

	<bean id="handlerAdapter"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

		<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">  
		     <property name="urlMap">  
		         <map>  
		              <entry key="/pages/**" value="myResourceHandler" />  
		         </map>  
		     </property>  
		     <property name="order" value="100000" />         
		</bean>  
  
  
	<bean id="myResourceHandler" name="myResourceHandler"
		  class="org.springframework.web.servlet.resource.ResourceHttpRequestHandler">
		  <property name="locations" value="/pages/" />
		  <property name="supportedMethods">
			 <list>
				<value>GET</value>
				<value>HEAD</value>
				<value>POST</value>
			 </list>
		 </property>
	</bean>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/pages/</value>
		</property>
<!-- 		<property name="suffix">
			<value>.html</value>
		</property> -->
	</bean>

 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean> 

	<mvc:annotation-driven/>
	<!--默认的spring mvc 拦截所有请求，为了引用资源的访问不会类似CONTROLLER一样被拦截 -->
<!--   	<mvc:resources location="/pages/" mapping="/pages/**"/>
 	<mvc:resources location="/static/" mapping="/static/**"/> -->
	<mvc:resources location="/index.html" mapping="/index.html" />
	<mvc:resources location="/login.html" mapping="/login.html" />

	<mvc:resources mapping="/static/**" location="/,/static/" />
	<mvc:resources mapping="/ztree/**" location="/,/ztree/" />
	<mvc:resources mapping="/filetemplate/**" location="/,/filetemplate/" />
	<mvc:resources mapping="/pages/**" location="/,/pages/" />

    <mvc:interceptors>  
        <!-- 多个拦截器，顺序执行 -->
        <mvc:interceptor>  
            <mvc:mapping path="/*/*"/>  
            <bean class="com.igreen.boss.interceptor.LoginInterceptor"></bean>  
        </mvc:interceptor>  
    </mvc:interceptors> 
	
</beans>