<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.Brand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="regist_item_id" property="registItemId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="VARCHAR" />
    <result column="brand_status" property="brandStatus" jdbcType="VARCHAR" />
    <result column="regist_no" property="registNo" jdbcType="VARCHAR" />
    <result column="brand_type" property="brandType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="DATE" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, regist_item_id, brand_name, apply_time, brand_status, regist_no, brand_type, 
    status, creater, created_time, updater, updated_time, remark
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByRegistItemId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from brand
    where regist_item_id = #{registItemId,jdbcType=INTEGER}
  </select>
  
  <!-- 查询有效的总记录数 -->
  <select id="countBrand" resultType="java.lang.Integer" parameterType="map">
  	select count(1)
  	from brand
  	where 1 = 1
  	<if test="registItemId != null" >
  		and regist_item_id = #{registItemId,jdbcType=INTEGER}
  	</if>
  	<if test="brandName != null" >
  		and brand_name like concat(concat('%',#{brandName,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="brandType != null" >
  		and brand_type like concat(concat('%',#{brandType,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="status != null" >
  		and status = #{status,jdbcType=INTEGER}
  	</if>
  </select>
  
  <select id="pageBrand" resultMap="BaseResultMap" parameterType="map" >
  	select 
  	<include refid="Base_Column_List" />
  	from brand
  	where 1 = 1
  	<if test="registItemId != null" >
  		and regist_item_id = #{registItemId,jdbcType=INTEGER}
  	</if>
  	<if test="brandName != null" >
  		and brand_name like concat(concat('%',#{brandName,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="brandType != null" >
  		and brand_type like concat(concat('%',#{brandType,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="status != null" >
  		and status = #{status,jdbcType=INTEGER}
  	</if>
  	limit #{startRow},#{pageRows}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByRegistItemId" parameterType="java.lang.Integer" >
    delete from brand
    where regist_item_id = #{registItemId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.igreen.common.model.Brand" >
    insert into brand (id, regist_item_id, brand_name, 
      apply_time, brand_status, regist_no, 
      brand_type, status, creater, 
      created_time, updater, updated_time, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{registItemId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=VARCHAR}, #{brandStatus,jdbcType=VARCHAR}, #{registNo,jdbcType=VARCHAR}, 
      #{brandType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{creater,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=DATE}, #{updater,jdbcType=INTEGER}, #{updatedTime,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.igreen.common.model.Brand" >
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="registItemId != null" >
        regist_item_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="brandStatus != null" >
        brand_status,
      </if>
      <if test="registNo != null" >
        regist_no,
      </if>
      <if test="brandType != null" >
        brand_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registItemId != null" >
        #{registItemId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="brandStatus != null" >
        #{brandStatus,jdbcType=VARCHAR},
      </if>
      <if test="registNo != null" >
        #{registNo,jdbcType=VARCHAR},
      </if>
      <if test="brandType != null" >
        #{brandType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.igreen.common.model.Brand" >
    update brand
    <set >
      <if test="registItemId != null" >
        regist_item_id = #{registItemId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="brandStatus != null" >
        brand_status = #{brandStatus,jdbcType=VARCHAR},
      </if>
      <if test="registNo != null" >
        regist_no = #{registNo,jdbcType=VARCHAR},
      </if>
      <if test="brandType != null" >
        brand_type = #{brandType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=DATE},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.igreen.common.model.Brand" >
    update brand
    set regist_item_id = #{registItemId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=VARCHAR},
      brand_status = #{brandStatus,jdbcType=VARCHAR},
      regist_no = #{registNo,jdbcType=VARCHAR},
      brand_type = #{brandType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creater = #{creater,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=DATE},
      updater = #{updater,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="auditByRegistItemId" parameterType="java.lang.Integer" >
    update brand
    set status = 1
    where regist_item_id = #{registItemId,jdbcType=INTEGER}
  </delete>
</mapper>