<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.CompanyQueryExecutionRecordMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.CompanyQueryExecutionRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pollution_id" property="pollutionId" jdbcType="INTEGER" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.igreen.common.model.CompanyQueryExecutionRecordWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="other_info" property="otherInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pollution_id, frequency
  </sql>
  <sql id="Blob_Column_List" >
    content, other_info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from company_query_execution_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_query_execution_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from company_query_execution_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company_query_execution_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordExample" >
    delete from company_query_execution_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordWithBLOBs" useGeneratedKeys="true" keyProperty="id" >
    insert into company_query_execution_record (pollution_id, frequency, content, 
      other_info)
    values (#{pollutionId,jdbcType=INTEGER}, #{frequency,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{otherInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordWithBLOBs" useGeneratedKeys="true" keyProperty="id" >
    insert into company_query_execution_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pollutionId != null" >
        pollution_id,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="otherInfo != null" >
        other_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pollutionId != null" >
        #{pollutionId,jdbcType=INTEGER},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordExample" resultType="java.lang.Integer" >
    select count(*) from company_query_execution_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company_query_execution_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pollutionId != null" >
        pollution_id = #{record.pollutionId,jdbcType=INTEGER},
      </if>
      <if test="record.frequency != null" >
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.otherInfo != null" >
        other_info = #{record.otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update company_query_execution_record
    set id = #{record.id,jdbcType=INTEGER},
      pollution_id = #{record.pollutionId,jdbcType=INTEGER},
      frequency = #{record.frequency,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      other_info = #{record.otherInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company_query_execution_record
    set id = #{record.id,jdbcType=INTEGER},
      pollution_id = #{record.pollutionId,jdbcType=INTEGER},
      frequency = #{record.frequency,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordWithBLOBs" >
    update company_query_execution_record
    <set >
      <if test="pollutionId != null" >
        pollution_id = #{pollutionId,jdbcType=INTEGER},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherInfo != null" >
        other_info = #{otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.igreen.common.model.CompanyQueryExecutionRecordWithBLOBs" >
    update company_query_execution_record
    set pollution_id = #{pollutionId,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      other_info = #{otherInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.igreen.common.model.CompanyQueryExecutionRecord" >
    update company_query_execution_record
    set pollution_id = #{pollutionId,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>