<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.CrawlerConfigIpeMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.WebCrawlerConfigIpe" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="web_name" property="webName" jdbcType="VARCHAR" />
	<result column="web_domain" property="webDomain" jdbcType="VARCHAR" />
	<result column="web_search_url" property="webSearchUrl" jdbcType="VARCHAR" />
	<result column="page_url_regular" property="pageUrlRegular" jdbcType="VARCHAR" />
	<result column="page_type" property="pageType" jdbcType="INTEGER" />
	<result column="page_req_method" property="pageReqMethod" jdbcType="INTEGER" />
	<result column="page_result" property="pageResult" jdbcType="VARCHAR" />
    <result column="replace_regular" property="replaceRegular" jdbcType="VARCHAR" />
	<result column="detail_url_regular" property="detailUrlRegular" jdbcType="VARCHAR" />
	<result column="detail_title_regular" property="detailTitleRegular" jdbcType="VARCHAR" />
	<result column="max_page" property="maxPage" jdbcType="INTEGER" />
	<result column="start_page" property="startPage" jdbcType="INTEGER" />
	<result column="attr_type" property="attrType" jdbcType="VARCHAR" />
	<result column="attr_name" property="attrName" jdbcType="VARCHAR" />
	<result column="detail_content_regular" property="detailContentRegular" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="create_time" property="createdTime" jdbcType="DATE" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
    <result column="update_time" property="updatedTime" jdbcType="DATE" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="source_type" property="sourceType" jdbcType="VARCHAR" />
    <result column="field_property_regular" property="fieldPropertyRegular" jdbcType="VARCHAR" />
    <result column="request_method" property="requestMethod" jdbcType="VARCHAR" />
      <result column="detail_by_id" property="detailById" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,web_name,web_domain,web_search_url,page_url_regular,page_type,max_page,
    page_req_method,page_result,replace_regular,detail_url_regular,detail_title_regular,create_time,update_time,
    start_page,attr_type,attr_name,detail_content_regular,creater,updater,city,area,source_type,field_property_regular,request_method,detail_by_id
  </sql>
  
    <!-- 查询有效的总记录数 -->
  <select id="countCrawlerConfig" resultType="java.lang.Integer" parameterType="map">
  	select count(1)
  	from web_crawler_config_ipe
  	where 1 = 1
  	<if test="webName != null" >
  		and web_name = #{webName,jdbcType=VARCHAR}
  	</if>
  	<if test="webDomain != null" >
  		and web_domain = #{webDomain,jdbcType=VARCHAR}
  	</if>
  </select>
  
  <select id="pageCrawlerConfig" resultMap="BaseResultMap" parameterType="map" >
  	select 
  	<include refid="Base_Column_List" />
  	from web_crawler_config_ipe
  	where 1 = 1
  	<if test="webName != null" >
  		and web_name = #{webName,jdbcType=VARCHAR}
  	</if>
  	<if test="web_domain != null" >
  		and web_domain = #{webDomain,jdbcType=VARCHAR}
  	</if>
      order by create_time desc limit #{startRow},#{pageRows}
  </select>
  
  <select id="findByWebDomain" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from web_crawler_config_ipe
    where web_domain = #{webDomain,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from web_crawler_config_ipe
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_crawler_config_ipe
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.igreen.common.model.WebCrawlerConfigIpe" >
    insert into web_crawler_config_ipe (web_name,web_domain,web_search_url,page_url_regular,page_type,max_page,
    page_req_method,page_result,replace_regular,detail_url_regular,detail_title_regular,create_time,update_time,
    start_page,attr_type,attr_name,detail_content_regular,creater,updater,city,area,source_type,field_property_regular,request_method,detail_by_id
      )
    values (#{webName,jdbcType=VARCHAR},
#{webDomain,jdbcType=VARCHAR},
#{webSearchUrl,jdbcType=VARCHAR},
#{pageUrlRegular,jdbcType=VARCHAR},
#{pageType,jdbcType=INTEGER},
#{maxPage,jdbcType=INTEGER},
#{pageReqMethod,jdbcType=INTEGER},
#{pageResult,jdbcType=VARCHAR},
#{replaceRegular,jdbcType=VARCHAR},
#{detailUrlRegular,jdbcType=VARCHAR},
#{detailTitleRegular,jdbcType=VARCHAR},
now(),
now(),
#{startPage,jdbcType=INTEGER},
#{attrType,jdbcType=VARCHAR},
#{attrName,jdbcType=VARCHAR},
#{detailContentRegular,jdbcType=VARCHAR},
#{creater,jdbcType=INTEGER},
#{updater,jdbcType=INTEGER},
#{city,jdbcType=VARCHAR},
#{area,jdbcType=VARCHAR},
#{sourceType,jdbcType=VARCHAR},
#{fieldPropertyRegular, jdbcType=VARCHAR},
#{requestMethod, jdbcType=VARCHAR},
            #{detailById, jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.igreen.common.model.WebCrawlerConfigIpe" >
    update web_crawler_config_ipe
    set web_name=#{webName,jdbcType=VARCHAR},
web_domain=#{webDomain,jdbcType=VARCHAR},
web_search_url=#{webSearchUrl,jdbcType=VARCHAR},
page_url_regular=#{pageUrlRegular,jdbcType=VARCHAR},
page_type=#{pageType,jdbcType=VARCHAR},
max_page=#{maxPage,jdbcType=VARCHAR},
page_req_method=#{pageReqMethod,jdbcType=VARCHAR},
page_result=#{pageResult,jdbcType=VARCHAR},
replace_regular=#{replaceRegular,jdbcType=VARCHAR},
detail_url_regular=#{detailUrlRegular,jdbcType=VARCHAR},
detail_title_regular=#{detailTitleRegular,jdbcType=VARCHAR},
update_time=now(),
start_page=#{startPage,jdbcType=VARCHAR},
attr_type=#{attrType,jdbcType=VARCHAR},
attr_name=#{attrName,jdbcType=VARCHAR},
detail_content_regular=#{detailContentRegular,jdbcType=VARCHAR},
updater=#{updater,jdbcType=VARCHAR},
city=#{city,jdbcType=VARCHAR},
area=#{area,jdbcType=VARCHAR},
source_type=#{sourceType,jdbcType=VARCHAR},
field_property_regular=#{fieldPropertyRegular, jdbcType=VARCHAR},
        request_method=#{requestMethod, jdbcType=VARCHAR},
        detail_by_id=#{detailById, jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>