<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.CrawlerIpeIndustryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.CrawlerIpeIndustryRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="web_name" property="webName" jdbcType="VARCHAR" />
    <result column="web_domain" property="webDomain" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="web_detail_name" property="webDetailName" jdbcType="VARCHAR" />
    <result column="web_detail_url" property="webDetailUrl" jdbcType="VARCHAR" />
    <result column="web_detail_result_url" property="webDetailResultUrl" jdbcType="VARCHAR" />
    <result column="save_path" property="savePath" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="punish_type" property="punishType" jdbcType="VARCHAR" />
    <result column="punish_time" property="punishTime" jdbcType="VARCHAR" />
    <result column="punish_money" property="punishMoney" jdbcType="VARCHAR" />
    <result column="punish_no" property="punishNo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, web_name, web_domain, year, web_detail_name, web_detail_url, web_detail_result_url, 
    save_path, company_name, province, city, district, punish_type, punish_time, punish_money, 
    punish_no, update_time, creater, updater
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crawler_ipe_industry_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crawler_ipe_industry_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from crawler_ipe_industry_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecordExample" >
    delete from crawler_ipe_industry_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into crawler_ipe_industry_record (web_name, web_domain, year, 
      web_detail_name, web_detail_url, web_detail_result_url, 
      save_path, company_name, province, 
      city, district, punish_type, 
      punish_time, punish_money, punish_no, 
      update_time, creater, updater
      )
    values (#{webName,jdbcType=VARCHAR}, #{webDomain,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{webDetailName,jdbcType=VARCHAR}, #{webDetailUrl,jdbcType=VARCHAR}, #{webDetailResultUrl,jdbcType=VARCHAR}, 
      #{savePath,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{punishType,jdbcType=VARCHAR}, 
      #{punishTime,jdbcType=VARCHAR}, #{punishMoney,jdbcType=VARCHAR}, #{punishNo,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=INTEGER}, #{updater,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into crawler_ipe_industry_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="webName != null" >
        web_name,
      </if>
      <if test="webDomain != null" >
        web_domain,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="webDetailName != null" >
        web_detail_name,
      </if>
      <if test="webDetailUrl != null" >
        web_detail_url,
      </if>
      <if test="webDetailResultUrl != null" >
        web_detail_result_url,
      </if>
      <if test="savePath != null" >
        save_path,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="punishType != null" >
        punish_type,
      </if>
      <if test="punishTime != null" >
        punish_time,
      </if>
      <if test="punishMoney != null" >
        punish_money,
      </if>
      <if test="punishNo != null" >
        punish_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="webName != null" >
        #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webDomain != null" >
        #{webDomain,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="webDetailName != null" >
        #{webDetailName,jdbcType=VARCHAR},
      </if>
      <if test="webDetailUrl != null" >
        #{webDetailUrl,jdbcType=VARCHAR},
      </if>
      <if test="webDetailResultUrl != null" >
        #{webDetailResultUrl,jdbcType=VARCHAR},
      </if>
      <if test="savePath != null" >
        #{savePath,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="punishType != null" >
        #{punishType,jdbcType=VARCHAR},
      </if>
      <if test="punishTime != null" >
        #{punishTime,jdbcType=VARCHAR},
      </if>
      <if test="punishMoney != null" >
        #{punishMoney,jdbcType=VARCHAR},
      </if>
      <if test="punishNo != null" >
        #{punishNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecordExample" resultType="java.lang.Integer" >
    select count(*) from crawler_ipe_industry_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update crawler_ipe_industry_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.webName != null" >
        web_name = #{record.webName,jdbcType=VARCHAR},
      </if>
      <if test="record.webDomain != null" >
        web_domain = #{record.webDomain,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.webDetailName != null" >
        web_detail_name = #{record.webDetailName,jdbcType=VARCHAR},
      </if>
      <if test="record.webDetailUrl != null" >
        web_detail_url = #{record.webDetailUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.webDetailResultUrl != null" >
        web_detail_result_url = #{record.webDetailResultUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.savePath != null" >
        save_path = #{record.savePath,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.district != null" >
        district = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.punishType != null" >
        punish_type = #{record.punishType,jdbcType=VARCHAR},
      </if>
      <if test="record.punishTime != null" >
        punish_time = #{record.punishTime,jdbcType=VARCHAR},
      </if>
      <if test="record.punishMoney != null" >
        punish_money = #{record.punishMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.punishNo != null" >
        punish_no = #{record.punishNo,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update crawler_ipe_industry_record
    set id = #{record.id,jdbcType=INTEGER},
      web_name = #{record.webName,jdbcType=VARCHAR},
      web_domain = #{record.webDomain,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=VARCHAR},
      web_detail_name = #{record.webDetailName,jdbcType=VARCHAR},
      web_detail_url = #{record.webDetailUrl,jdbcType=VARCHAR},
      web_detail_result_url = #{record.webDetailResultUrl,jdbcType=VARCHAR},
      save_path = #{record.savePath,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      punish_type = #{record.punishType,jdbcType=VARCHAR},
      punish_time = #{record.punishTime,jdbcType=VARCHAR},
      punish_money = #{record.punishMoney,jdbcType=VARCHAR},
      punish_no = #{record.punishNo,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      creater = #{record.creater,jdbcType=INTEGER},
      updater = #{record.updater,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecord" >
    update crawler_ipe_industry_record
    <set >
      <if test="webName != null" >
        web_name = #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webDomain != null" >
        web_domain = #{webDomain,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="webDetailName != null" >
        web_detail_name = #{webDetailName,jdbcType=VARCHAR},
      </if>
      <if test="webDetailUrl != null" >
        web_detail_url = #{webDetailUrl,jdbcType=VARCHAR},
      </if>
      <if test="webDetailResultUrl != null" >
        web_detail_result_url = #{webDetailResultUrl,jdbcType=VARCHAR},
      </if>
      <if test="savePath != null" >
        save_path = #{savePath,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="punishType != null" >
        punish_type = #{punishType,jdbcType=VARCHAR},
      </if>
      <if test="punishTime != null" >
        punish_time = #{punishTime,jdbcType=VARCHAR},
      </if>
      <if test="punishMoney != null" >
        punish_money = #{punishMoney,jdbcType=VARCHAR},
      </if>
      <if test="punishNo != null" >
        punish_no = #{punishNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.igreen.common.model.CrawlerIpeIndustryRecord" >
    update crawler_ipe_industry_record
    set web_name = #{webName,jdbcType=VARCHAR},
      web_domain = #{webDomain,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      web_detail_name = #{webDetailName,jdbcType=VARCHAR},
      web_detail_url = #{webDetailUrl,jdbcType=VARCHAR},
      web_detail_result_url = #{webDetailResultUrl,jdbcType=VARCHAR},
      save_path = #{savePath,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      punish_type = #{punishType,jdbcType=VARCHAR},
      punish_time = #{punishTime,jdbcType=VARCHAR},
      punish_money = #{punishMoney,jdbcType=VARCHAR},
      punish_no = #{punishNo,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=INTEGER},
      updater = #{updater,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>