<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.IpeIndustryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.IpeIndustryRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="regist_item_id" property="registItemId" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="ipe_id" property="ipeId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="DATE" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  	<result column="city" property="city" jdbcType="VARCHAR" />
  	<result column="district" property="district" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="registItemMap" type="com.igreen.common.dto.IpeIndustryDto">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="regist_item_id" property="registItemId" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="ipe_id" property="ipeId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
  	<result column="address" property="address" jdbcType="VARCHAR" />
  	<result column="province" property="province" jdbcType="VARCHAR" />
  	<result column="city" property="city" jdbcType="VARCHAR" />
  	<result column="district" property="district" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, company_name, regist_item_id, year, title, ipe_id, file_name, status, creater, created_time, 
    updater, updated_time, remark, province, city, district
  </sql>
  
   <sql id="registItem_List" >
    ir.id, ir.company_name, ir.regist_item_id, ir.year, ir.title, ir.file_name, r.address, ir.province, ir.city, ir.district
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ipe_industry_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectRecordById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ipe_industry_record
    where id &gt; #{id,jdbcType=INTEGER}
    order by id asc
    limit 10
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from ipe_industry_record
    where id &lt; #{startId,jdbcType=INTEGER}
    and id &gt; #{endId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByIpeId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id
    from ipe_industry_record
    where ipe_id = #{ipeId,jdbcType=BIGINT}
  </select>
  
  <!-- 查询有效的总记录数 -->
   <select id="countIpeIndustryDto" resultType="java.lang.Integer" parameterType="map">
  	select count(1)
  	from ipe_industry_record ir,regist_item r
  	where ir.regist_item_id = r.id
  	<if test="companyName != null" >
  		and ir.company_name like concat(#{companyName,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="year != null" >
  		and ir.year = #{year,jdbcType=VARCHAR}
  	</if>
  	<if test="title != null" >
  		and ir.title like concat(#{title,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="address != null" >
  		and r.address like concat(#{address,jdbcType=VARCHAR},'%')
  	</if>
  </select>
  
   <select id="pageIpeIndustryDto" resultMap="registItemMap" parameterType="map" >
  	select 
  	<include refid="registItem_List" />
  	from ipe_industry_record ir,regist_item r
  	where ir.regist_item_id = r.id
  	<if test="companyName != null" >
  		and ir.company_name like concat(#{companyName,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="year != null" >
  		and ir.year = #{year,jdbcType=VARCHAR}
  	</if>
  	<if test="title != null" >
  		and ir.title like concat(#{title,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="address != null" >
  		and r.address like concat(#{address,jdbcType=VARCHAR},'%')
  	</if>
  	limit #{startRow},#{pageRows}
  </select>
  
  
  <!-- 查询有效的总记录数 -->
  <select id="countIpeIndustry" resultType="java.lang.Integer" parameterType="map">
  	select count(1)
  	from ipe_industry_record
  	where 1 = 1
  	<if test="companyName != null" >
  		and company_name like concat('%',concat(#{companyName,jdbcType=VARCHAR},'%'))
  	</if>
  	<if test="year != null" >
  		and year = #{year,jdbcType=VARCHAR}
  	</if>
  	<if test="title != null" >
  		and title like concat('%',concat(#{title,jdbcType=VARCHAR},'%'))
  	</if>
  </select>
  
  <select id="pageIpeIndustry" resultMap="BaseResultMap" parameterType="map" >
  	select 
  	<include refid="Base_Column_List" />
  	from ipe_industry_record
  	where 1 = 1
  	<if test="companyName != null" >
  		and company_name like concat('%',concat(#{companyName,jdbcType=VARCHAR},'%'))
  	</if>
  	<if test="year != null" >
  		and year = #{year,jdbcType=VARCHAR}
  	</if>
  	<if test="title != null" >
  		and title like concat('%',concat(#{title,jdbcType=VARCHAR},'%'))
  	</if>
  	<if test="fileName != null" >
  		and file_name = #{fileName,jdbcType=VARCHAR}
  	</if>
  	limit #{startRow},#{pageRows}
  </select>
  
  <select id="selectRepeatRecord" resultType="java.lang.String">
    SELECT file_name
	FROM ipe_industry_record
	where status = 1
	GROUP BY file_name
	HAVING (count(file_name)) <![CDATA[ > ]]> 1
	ORDER BY file_name
	LIMIT 10
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ipe_industry_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.igreen.common.model.IpeIndustryRecord" >
    insert into ipe_industry_record (id, company_name, regist_item_id, year, 
      title, ipe_id, file_name, 
      status, creater, created_time, 
      updater, updated_time, remark
      )
    values (#{id,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{registItemId,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{ipeId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{creater,jdbcType=INTEGER}, #{createdTime,jdbcType=DATE}, 
      #{updater,jdbcType=INTEGER}, #{updatedTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.igreen.common.model.IpeIndustryRecord" >
    insert into ipe_industry_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="registItemId != null" >
        regist_item_id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="ipeId != null" >
        ipe_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="registItemId != null" >
        #{registItemId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="ipeId != null" >
        #{ipeId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.igreen.common.model.IpeIndustryRecord" >
    update ipe_industry_record
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="registItemId != null" >
        regist_item_id = #{registItemId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="ipeId != null" >
        ipe_id = #{ipeId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=DATE},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.igreen.common.model.IpeIndustryRecord" >
    update ipe_industry_record
    set 
      company_name = #{companyName,jdbcType=VARCHAR},
      regist_item_id = #{registItemId,jdbcType=INTEGER},
      year = #{year,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      ipe_id = #{ipeId,jdbcType=BIGINT},
      file_name = #{fileName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creater = #{creater,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=DATE},
      updater = #{updater,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="duplicateIpe" resultMap="BaseResultMap">
  	select regist_item_id,id,ipe_id from ipe_industry_record where id in (
		select min(id) as id from ipe_industry_record group by ipe_id having (count(*) > 1)
	) order by ipe_id limit 100
  </select>
  
   <select id="selectByRegistItemId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
       select year,file_name 
       from ipe_industry_record 
       where regist_item_id = #{registItemId,jdbcType=INTEGER} 
       GROUP BY year order by year DESC
  </select>
  
  <select id="getRegion" resultMap="BaseResultMap">
      select regist_item_id from ipe_industry_record where year=2017
  </select>
</mapper>