<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.ManagementRecordMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.ManagementRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pollution_id" property="pollutionId" jdbcType="INTEGER" />
    <result column="facility_type" property="facilityType" jdbcType="VARCHAR" />
    <result column="operate_parameter" property="operateParameter" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="CLOB" javaType = "java.lang.String" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="record_type" property="recordType" jdbcType="VARCHAR" />
    <result column="other_info" property="otherInfo" jdbcType="CLOB" javaType = "java.lang.String" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, pollution_id, facility_type, operate_parameter, content, frequency, record_type,
    other_info
  </sql>
  
  <insert id="insertSelective" parameterType="com.igreen.common.model.ManagementRecord" useGeneratedKeys="true" keyProperty="id">
    insert into management_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pollutionId != null" >
        pollution_id,
      </if>
      <if test="facilityType != null" >
        facility_type,
      </if>
      <if test="operateParameter != null" >
        frequency,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="recordType != null" >
        record_type,
      </if>
      <if test="otherInfo != null" >
        otherInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pollutionId != null" >
        #{pollutionId,jdbcType=INTEGER},
      </if>
      <if test="facilityType != null" >
        #{facilityType,jdbcType=VARCHAR},
      </if>
      <if test="operateParameter != null" >
        #{operateParameter,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null" >
        #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  
  <insert id ="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" >
    <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey >
    insert into management_record
    (pollution_id, facility_type, operate_parameter, content, frequency, record_type, other_info)
    values
     <foreach collection ="list" item="item" index= "index" separator =",">
         (
         #{item.pollutionId},#{item.facilityType},
         #{item.operateParameter},#{item.content},
         #{item.frequency},#{item.recordType},
         #{item.otherInfo}
         )
     </foreach >
  </insert >
  
  <select id="pageRecord" resultMap="BaseResultMap" parameterType="map" >
  	select 
  	<include refid="Base_Column_List" />
  	from management_record 
  	where 1 =1 
  	<if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
  	limit #{startRow},#{pageRows}
  </select>
  
  <!-- 查询有效的总记录数 -->
  <select id="countRecord" resultType="java.lang.Integer" parameterType="map">
  	select count(1)
  	from management_record
  	where 1 =1 
	<if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
  </select>
</mapper>