<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.RegistItemLocationMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.RegistItemLocation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
       id,province,city,district,street,number,location
  </sql>
  
  <select id="selectLocationList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
       select id,location from regist_item_location  
  </select>
  
  <select id="getMaxId" resultType="java.lang.Long" >
       select max(id) from regist_item_location  
  </select>
  
  
  <insert id="insertRegistItemLocation" parameterType="com.igreen.common.model.RegistItemLocation">
    insert into regist_item_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="location != null" >
        location,
      </if>
   
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>