<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igreen.common.dao.SoftwareCopyrightMapper" >
  <resultMap id="BaseResultMap" type="com.igreen.common.model.SoftwareCopyright" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="regist_item_id" property="registItemId" jdbcType="INTEGER" />
    <result column="software_name" property="softwareName" jdbcType="VARCHAR" />
    <result column="software_shop_name" property="softwareShopName" jdbcType="VARCHAR" />
    <result column="regist_no" property="registNo" jdbcType="VARCHAR" />
    <result column="software_version" property="softwareVersion" jdbcType="VARCHAR" />
    <result column="classify_no" property="classifyNo" jdbcType="VARCHAR" />
    <result column="approve_regist_time" property="approveRegistTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="DATE" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, regist_item_id, software_name, software_shop_name, regist_no, software_version, 
    classify_no, approve_regist_time, status, creater, created_time, updater, updated_time, 
    remark
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from software_copyright
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByRegistItemId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from software_copyright
    where regist_item_id = #{registItemId,jdbcType=INTEGER}
  </select>
  
  <!-- 查询有效的总记录数 -->
  <select id="countSoftwareCopyright" resultType="java.lang.Integer" parameterType="map">
  	select count(1)
  	from software_copyright
  	where 1 = 1
  	<if test="registItemId != null" >
  		and regist_item_id = #{registItemId,jdbcType=INTEGER}
  	</if>
  	<if test="softwareShopName != null" >
  		and software_shop_name like concat(concat('%',#{softwareShopName,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="classifyNo != null" >
  		and classify_no like concat(concat('%',#{classifyNo,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="status != null" >
  		and status = #{status,jdbcType=INTEGER}
  	</if>
  </select>
  
  <select id="pageSoftwareCopyright" resultMap="BaseResultMap" parameterType="map" >
  	select 
  	<include refid="Base_Column_List" />
  	from software_copyright
  	where 1 = 1
  	<if test="registItemId != null" >
  		and regist_item_id = #{registItemId,jdbcType=INTEGER}
  	</if>
  	<if test="softwareShopName != null" >
  		and software_shop_name like concat(concat('%',#{softwareShopName,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="classifyNo != null" >
  		and classify_no like concat(concat('%',#{classifyNo,jdbcType=VARCHAR}),'%')
  	</if>
  	<if test="status != null" >
  		and status = #{status,jdbcType=INTEGER}
  	</if>
  	limit #{startRow},#{pageRows}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from software_copyright
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByRegistItemId" parameterType="java.lang.Integer" >
    delete from software_copyright
    where regist_item_id = #{registItemId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.igreen.common.model.SoftwareCopyright" >
    insert into software_copyright (id, regist_item_id, software_name, 
      software_shop_name, regist_no, software_version, 
      classify_no, approve_regist_time, status, 
      creater, created_time, updater, 
      updated_time, remark)
    values (#{id,jdbcType=INTEGER}, #{registItemId,jdbcType=INTEGER}, #{softwareName,jdbcType=VARCHAR}, 
      #{softwareShopName,jdbcType=VARCHAR}, #{registNo,jdbcType=VARCHAR}, #{softwareVersion,jdbcType=VARCHAR}, 
      #{classifyNo,jdbcType=VARCHAR}, #{approveRegistTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{creater,jdbcType=INTEGER}, #{createdTime,jdbcType=DATE}, #{updater,jdbcType=INTEGER}, 
      #{updatedTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.igreen.common.model.SoftwareCopyright" >
    insert into software_copyright
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="registItemId != null" >
        regist_item_id,
      </if>
      <if test="softwareName != null" >
        software_name,
      </if>
      <if test="softwareShopName != null" >
        software_shop_name,
      </if>
      <if test="registNo != null" >
        regist_no,
      </if>
      <if test="softwareVersion != null" >
        software_version,
      </if>
      <if test="classifyNo != null" >
        classify_no,
      </if>
      <if test="approveRegistTime != null" >
        approve_regist_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registItemId != null" >
        #{registItemId,jdbcType=INTEGER},
      </if>
      <if test="softwareName != null" >
        #{softwareName,jdbcType=VARCHAR},
      </if>
      <if test="softwareShopName != null" >
        #{softwareShopName,jdbcType=VARCHAR},
      </if>
      <if test="registNo != null" >
        #{registNo,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null" >
        #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="classifyNo != null" >
        #{classifyNo,jdbcType=VARCHAR},
      </if>
      <if test="approveRegistTime != null" >
        #{approveRegistTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.igreen.common.model.SoftwareCopyright" >
    update software_copyright
    <set >
      <if test="registItemId != null" >
        regist_item_id = #{registItemId,jdbcType=INTEGER},
      </if>
      <if test="softwareName != null" >
        software_name = #{softwareName,jdbcType=VARCHAR},
      </if>
      <if test="softwareShopName != null" >
        software_shop_name = #{softwareShopName,jdbcType=VARCHAR},
      </if>
      <if test="registNo != null" >
        regist_no = #{registNo,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null" >
        software_version = #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="classifyNo != null" >
        classify_no = #{classifyNo,jdbcType=VARCHAR},
      </if>
      <if test="approveRegistTime != null" >
        approve_regist_time = #{approveRegistTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=DATE},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.igreen.common.model.SoftwareCopyright" >
    update software_copyright
    set regist_item_id = #{registItemId,jdbcType=INTEGER},
      software_name = #{softwareName,jdbcType=VARCHAR},
      software_shop_name = #{softwareShopName,jdbcType=VARCHAR},
      regist_no = #{registNo,jdbcType=VARCHAR},
      software_version = #{softwareVersion,jdbcType=VARCHAR},
      classify_no = #{classifyNo,jdbcType=VARCHAR},
      approve_regist_time = #{approveRegistTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creater = #{creater,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=DATE},
      updater = #{updater,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="auditByRegistItemId" parameterType="java.lang.Integer" >
    update software_copyright
    set status = 1
    where regist_item_id = #{registItemId,jdbcType=INTEGER}
  </delete>
</mapper>